* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #fff;   
}

.manage-container {
    display: flex;
    position: relative;
}

.manage-container .admin-sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: rgb(53, 153, 184);
    padding: 15px 0;
}

.admin-sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.admin-sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    list-style: none;  
}

.admin-sidebar ul li a {
    color: #d6d4de;
    display: block;
}

.admin-sidebar ul li .drop-down {
    display: none; 
    /* padding-left: 20px; */
    /* position: absolute; */
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

 .drop-down a {
    display: block; 
    color: black;
    padding: 10px 15px;
}

.admin-sidebar ul li:hover {
    background-color: #256b71;
}

.admin-sidebar ul li:hover .drop-down {
    display: block;
}

