* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #fff;   
}

.manage-container {
    display: flex;
    position: relative;
    height: 100vh;
}

.manage-container .admin-sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: rgb(53, 153, 184);
    padding: 15px 0;
    float: left;
}

.admin-sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.admin-sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
    list-style: none;  
}

.admin-sidebar ul li a {
    color: #d6d4de;
    display: block;
}

.admin-sidebar ul li .drop-down {
    display: none; 
    /* padding-left: 20px; */
    /* position: absolute; */
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

 .drop-down a {
    display: block; 
    color: black;
    padding: 10px 15px;
}

.admin-sidebar ul li:hover {
    background-color: #256b71;
}

.admin-sidebar ul li:hover .drop-down {
    display: block;
}

.form-section {
    /* display: flex; */
    margin-left: 200px;
    padding: 20px;
    background-color: rgb(189, 228, 240);
    flex: 1;
    align-items: center;
}

.form-section .main-form {
    width: 523px;
    background-color: white;
    padding: 20px;
    /* border-radius: 10px; */
}
.form-section .main-form div.form-uneditable-group, div.form-editable-group {
    width: 100%;
    display: flex;
}

.form-section form button.btn-primary {
    background-color: rgb(53, 153, 184);
    border-color: rgb(53, 153, 184);
}

.form-section .main-form label {
    text-align: center;
    display: inline-flex;
    width: 100px;
}

.form-section .main-form input {
    margin-right: 5px;
    text-align: left;
    padding-left: 5px;
}

.form-section .main-form .input-container {
    display: flex;
    align-items: center;
}

.form-container {
    display: flex;
}

.form-inner {
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.form-container .form-title-container {
    padding: 0 20px;
    display: flex;
    width: 523px;
    background-color: rgb(94, 146, 195);
}

.form-container h4 {
    background-color: rgb(94, 146, 195);
    margin: 0;
    margin: 20px 0;
    width: 100%;
    color: white;
}
