.cus-container {
    background-color: whitesmoke;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid rgb(44, 121, 180);
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}

.cus-container h2 {
    font-size: 24px;
    text-align: center;
}

.input-name i {
    position: absolute;
    font-size: 18px;
}

.input-name {
    width: 90%;
    position: relative;
    margin: 10px auto;
    padding: 15px;
}

.gender-selection {
    margin-left: 30px; 
}

.lock {
    padding: 8px 11px;
}

.text-name {
    width: 100%;
    padding: 10px 0 10px 40px;
    top: 50%;
}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 20px;             
    margin-top: 20px;       
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 85px;
}

