.cus-container {
    background-color: whitesmoke;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid rgb(44, 121, 180);
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}

.cus-container h2 {
    font-size: 24px;
    text-align: center;
}

.input-name i {
    position: absolute;
    font-size: 18px;
}

.input-name {
    width: 90%;
    position: relative;
    margin: 10px auto;
    padding: 15px;
}

.gender-selection {
    margin-left: 30px; 
}

.lock {
    padding: 8px 11px;
}

.text-name {
    width: 100%;
    padding: 10px 0 10px 40px;
    top: 50%;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    margin-left: 85px;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

#popup button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#popup button:hover {
    background-color: #0056b3;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.btn_save_info{
    display: flex; 
    justify-content:center; 
}

.btn_save_info button:hover {
        background-color: #0056b3;
}